<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
            <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
        </form>
    </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to Hourwise.</span>
            </li>
            
            <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false" id="alertDropdown">
                        <% if (req.session.User.alerts != undefined) { %>
                            <i class="fa fa-bell"></i>  <span class="label label-primary" id="newAlert"><%= req.session.User.alerts.length %></span>
                        <% } else { %>
                            <i class="fa fa-bell"></i>  <span class="label label-primary" id="newAlert">0</span>
                        <% } %>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-alerts" id="alertsList" style="overflow-y: auto; height: 450px;">
                        <% if (req.session.User.alerts != undefined) { %>
                            <% req.session.User.alerts.reverse() %>
                            <li><div class="btn clearAll">Clear All</div></li>
                            <% _.each(req.session.User.alerts, function(alert) { %>
                                <% if (alert.communicationId != null && alert.fromZendesk == false) { %>
                                    <li name="<%= alert.id %>">
                                        <div><i class="fa fa-bullhorn fa-fw"></i>  <%= alert.message %> 
                                            <span class="pull-right text-muted small">
                                                <% if (alert.communicationId) { %>
                                                    <div class="btn btn-sml">
                                                        <a href="/communication/index/<%= alert.communicationId %>">Go</a>
                                                    </div>
                                                <% } else {} %>
                                                <div class="btn dismissAlert">Dismiss</div>
                                                </span>
                                        </div> 
                                    </li>
                                    
                                <% } else { %>
                                    <li name="<%= alert.id %>">
                                        <div><i class="fa fa-ticket fa-fw"></i>  <%= alert.message %> 
                                            <span class="pull-right text-muted small">
                                                <% if (alert.communicationId) { %>
                                                    <div class="btn btn-sml">
                                                        <a href="https://foundation53.zendesk.com/agent/tickets/<%= alert.communicationId %>">Go to ZD</a>
                                                    </div>
                                                <% } else {} %>
                                                <div class="btn dismissAlert">Dismiss</div>
                                                </span>
                                        </div> 
                                    </li>
                                <% } %>
                                <li class="divider"></li>
                            <% }) %>
                        <% } else {} %>
                    </ul>
                </li>

            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    
    </nav>
    </div>