<select id="dateSelection">
  <option value="thisMonth">This Month</option>
  <option value="thisWeek">This Week</option>
  <option value="lastWeek">Last Week</option>
  <option value="lastTwoWeeks">Last Two Weeks</option>
</select>

<br>
<div id="canvas-wrapper">
<canvas id="myChart" width="400px" height="450px"></canvas>
</div>
<br>

<table class = "table">
<tr>
	<th>Concierge</th>
	<th>Tier 1</th>
	<th>Tier 2</th>
	<th>Tier 3</th>
	<th>Tier 4</th>
	<th>Tier 5</th>
	<th>Total</th>
</tr>

<tr>
	<td>CJ</td>
	<td id="cj1"><%= cjSolved.tier1 %></td>
	<td id="cj2"><%= cjSolved.tier2 %></td>
	<td id="cj3"><%= cjSolved.tier3 %></td>
	<td id="cj4"><%= cjSolved.tier4 %></td>
	<td id="cj5"><%= cjSolved.tier5 %></td>
	<td id="cjTotal"><%= cjSolved.total %></td>
</tr>

<tr>
	<td>Stefany</td>
	<td id="stef1"><%= stefanySolved.tier1 %></td>
	<td id="stef2"><%= stefanySolved.tier2 %></td>
	<td id="stef3"><%= stefanySolved.tier3 %></td>
	<td id="stef4"><%= stefanySolved.tier4 %></td>
	<td id="stef5"><%= stefanySolved.tier5 %></td>
	<td id="stefTotal"><%= stefanySolved.total %></td>
</tr>

<tr>
	<td>Emily</td>
	<td id="emily1"><%= emilySolved.tier1 %></td>
	<td id="emily2"><%= emilySolved.tier2 %></td>
	<td id="emily3"><%= emilySolved.tier3 %></td>
	<td id="emily4"><%= emilySolved.tier4 %></td>
	<td id="emily5"><%= emilySolved.tier5 %></td>
	<td id="emilyTotal"><%= emilySolved.total %></td>
</tr>

<tr>
	<td>Grand Total</td>
	<td id="oneTotal"><%= emilySolved.tier1 + stefanySolved.tier1 + cjSolved.tier1 %></td>
	<td id="twoTotal"><%= emilySolved.tier2 + stefanySolved.tier2 + cjSolved.tier2 %></td>
	<td id="threeTotal"><%= emilySolved.tier3 + stefanySolved.tier3 + cjSolved.tier3 %></td>
	<td id="fourTotal"><%= emilySolved.tier4 + stefanySolved.tier4 + cjSolved.tier4 %></td>
	<td id="fiveTotal"><%= emilySolved.tier5 + stefanySolved.tier5 + cjSolved.tier5 %></td>
	<td id="grandTotal"><%= emilySolved.total + stefanySolved.total + cjSolved.total %></td>
</tr>


</table>
<br>
<br>
<br>
<div class="panel-heading">
    <div class="panel-title m-b-md"><h4></h4></div>
    <div class="panel-options">

        <ul class="nav nav-tabs">
            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Unsolved (<%= unsolvedTickets.length %>)</a></li>
            <li class="active"><a data-toggle="tab" href="#tab-5" aria-expanded="true">Pending (<%= pendingTickets.length %>)</a></li>
            <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">Recent (<%= recentlySolved.length %>)</a></li>
        </ul>
    </div>
</div>

<div class="panel-body">

    <div class="tab-content">
        <div id="tab-4" class="tab-pane">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInUp">
                        <table class="table">
                            <th>Subject</th>
                            <th>Requester</th>
                            <th>Request Date</th>
                            <th>Ticket Type</th>
                            <th>Link</th>
                            <% _.each(unsolvedTickets, function(ticket) { %>
                                <tr>
                                    <td><%= ticket.subject %></td>
                                    <td><%= ticket.requester_id %></td>
                                    <td><%= ticket.created_at %></td>
                                    <td><%= ticket.via.channel %></td>
                                    <td><a href="<%= ticket.url %>">Go to ticket</a></td>
                                </tr>
                            <% }) %>
                         </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-5" class="tab-pane active">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInUp">
                    	<table class="table">
							<th>Subject</th>
							<th>Requester</th>
							<th>Request Date</th>
							<th>Ticket Type</th>
							<th>Link</th>
							<% _.each(pendingTickets, function(ticket) { %>
								<tr>
									<td><%= ticket.subject %></td>
									<td><%= ticket.requester_id %></td>
									<td><%= ticket.created_at %></td>
									<td><%= ticket.via.channel %></td>
									<td><a href="<%= ticket.url %>">Go to ticket</a></td>
								</tr>
							<% }) %>
                         </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-6" class="tab-pane">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInUp">
                        <table class="table">
                            <th>Subject</th>
                            <th>Requester</th>
                            <th>Request Date</th>
                            <th>Ticket Type</th>
                            <th>Link</th>
                            <% _.each(recentlySolved, function(ticket) { %>
                                <tr>
                                    <td><%= ticket.subject %></td>
                                    <td><%= ticket.requester_id %></td>
                                    <td><%= ticket.created_at %></td>
                                    <td><%= ticket.via.channel %></td>
                                    <td><% if (ticket.url != null ) { %><a href="<%= ticket.url %>">Go to ticket</a> <% } else {} %></td>
                                </tr>
                            <% }) %>
                         </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>