<div class= "container" style="width: 80%;">

    <form action = "/task/update/<%= task.id %>" method = "GET" class= "form-signin">
        <h2 class= "form-signin-heading">Edit Task...</h2>

            <% if (task.name != null) { %>
                <input type= "text" class = "form-control" placeholder = "<%= task.name %>" name = "name" value="<%= task.name %>">
            <% } 
               else { %>
                <input type= "text" class = "form-control" placeholder = "Name" name="name">
            <% } %>
            <hr>
            <% if (task.description != null) { %>
                <input type= "text" class = "form-control" placeholder = "<%= task.description %>" name = "address" value="<%= task.description %>">
            <% } 
               else { %>
                <input type= "text" class = "form-control" placeholder = "Description" name="description">
            <% } %>
            <hr>
            <% if (task.startDate != null) { %>
                <input type= "text" class = "form-control" placeholder = "<%= task.startDate %>" name = "startDate" value="<%= task.startDate %>">
            <% } 
               else { %>
                <input type= "text" class = "form-control" placeholder = "Start Date" name="startDate">
            <% } %>
            <hr>
            <% if (task.endDate != null) { %>
                <input type= "text" class = "form-control" placeholder = "<%= task.endDate %>" name = "endDate" value="<%= task.endDate %>">
            <% } 
               else { %>
                <input type= "text" class = "form-control" placeholder = "End Date" name="endDate">
            <% } %>
            <hr>
            
            
            <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "Update Task" />
            <input type= "hidden"  name = "_csrf" value = "<%= _csrf %>"/>

    </form>

</div>