<div class="panel blank-panel">

    <div class="panel-heading">
        <div class="panel-title m-b-md"><h4></h4></div>
        <div class="panel-options">

            <ul class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#tab-1" aria-expanded="false">Companies</a></li>
                <li class="active"><a data-toggle="tab" href="#tab-2" aria-expanded="true">Users</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">

        <div class="tab-content">
            <div id="tab-1" class="tab-pane">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInUp">

                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Companies List</h5>
                                    <div class="ibox-tools">
                                        <a href="/company/new" class="btn btn-primary btn-xs">Create new Company</a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row m-b-sm m-t-sm">
                                        <div class="col-md-1">
                                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div>
                                        </div>

                                        <div class="project-list">

                                            <table class="table table-hover">
                                                <tbody>
                                                    <% _.each(companies, function(company){ %>
                                                    <tr data-id = "<% company.id %>" data-model = "company">
                                                        <td class="project-status">
                                                            <span class="label label-primary"><%= company.accountSettings.plan %></span>
                                                        </td>
                                                        <td class="project-title">
                                                            <a href="/company/<%= company.id %>"><%= company.name%></a>
                                                            <br/>
                                                            <small>Since <%= company.createdAt%></small>
                                                        </td>
                                                        <td class="project-title">
                                                            <a href="#"><%= company.primaryIndustry%></a>   
                                                        </td>                                                
                                                        <td class="project-completion">
                                                            <small>Engagement: 48%</small>
                                                            <div class="progress progress-mini">
                                                                <div style="width: 48%;" class="progress-bar"></div>
                                                            </div>
                                                        </td>
                                                        <td class="project-people">
                                                            <a href="/company/<%= company.id %>#users"><%= company.employees.length%> users </a>
                                                        </td>
                                                        <td class="project-actions">
                                                            <a href="/company/show/<%= company.id %>" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                                            <a href="/company/edit/<%= company.id %>#users" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                                        </td>
                                                    </tr>
                                                    
                                                    <% }) %>                                            
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div id="tab-2" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInUp">

                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Users List</h5>
                                    <div class="ibox-tools">
                                        <a data-toggle="modal" class="btn btn-primary fa fa-plus-square-o" href="#modal-form">Add new User</a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row m-b-sm m-t-sm">
                                        <div class="col-md-1">
                                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
                                        </div>
                                        <div class="col-md-11">
                                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div>
                                        </div>

                                        <div class="project-list">

                                            <table class="table table-hover">
                                                <tbody>
                                                    <% _.each(users, function(user){ %>
                                                    <tr data-id = "<% user.id %>" data-model = "user">
                                                        <td class="user-role">
                                                            <span class="label label-primary"><%= user.role %></span>
                                                        </td>
                                                        <td class="user-name">
                                                            <a href="/user/show<%= user.id %>"><%= user.username%></a>
                                                            <br/>
                                                            <small>Since <%= user.createdAt%></small>
                                                        </td>
                                                        <td class="user-company">
                                                            <% if (user.company != null) { %>
                                                                <a href="/company/show/<%= user.company.id %>"><%= user.company.name%></a>   
                                                            <% } 
                                                               else { %>
                                                                <a href="#">No Company</a> 
                                                            <% } %>
                                                        </td>
                                                        <td class="user-reroute">
                                                            <a href="/user/update?reroute=dashboard">
                                                                <span class="label label-primary"><%= user.reroute %></span>
                                                            </a>
                                                        </td>                                                
                                                        <td class="user-actions">
                                                            <a href="/user/show/<%= user.id %>" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                                            <a href="/user/edit/<%= user.id %>" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                                        </td>
                                                    </tr>
                                                    
                                                    <% }) %>                                            
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="modal-form" class="modal fade in" aria-hidden="false" style="display: none;">
                                        <div class="modal-backdrop fade in"></div>
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    </div>                                        
                                                <div class="modal-body">
                                                    <div class="row">
                                                      <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Add Employee</h3>
                                                            <form action= "/user/create" role="form" method = "POST">
                                                                <div class="form-group"><label>Name</label> 
                                                                    <input type="text" name = "username" placeholder="Name" class="form-control"></div>
                                                                <div class="form-group"><label>Email</label> 
                                                                    <input type="email" name = "email" placeholder="Email" class="form-control"></div>
                                                                <div class="form-group"><label>Password</label> 
                                                                    <input type="password" name = "password" placeholder="tempPassword" class="form-control"></div>
                                                                <div>
                
                                                                    <div class="form-group"><label>Role</label> 
                                                                        <select class="form-control m-b" name="role">
                                                                            <option value = "user" selected>User</option>
                                                                            <option value = "concierge">Concierge</option>
                                                                            <option value = "superUser">Super User</option>
                                                                        </select>
                                                                    </div> 
                                                                                                                              
                                                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                                                        <strong>Create</strong>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>    
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

</div>
        
<div class="footer">

    <div>
        <strong>Copyright</strong> Hourwise &copy; 2014-2015
    </div>

</div>


