<div class="container" style="width: 100%;">
	<div class="panel blank-panel">

	    <div class="panel-heading">
	        <div class="panel-title m-b-md"><h4>Communications</h4></div>
	        <div class="panel-options">

	            <ul class="nav nav-tabs">
	                <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Phone/SMS</a></li>
	                <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Email</a></li>
	            </ul>
	        </div>
	    </div>

	    <div class="panel-body">

	        <div class="tab-content">
	            <div id="tab-1" class="tab-pane">
	                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>SMS History</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content inspinia-timeline">
                        <% _.each(touches, function(touch){ %>
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-3 date">
                                        <% if (touch.inbound == null) { %>
                                            <i class="fa fa-arrow-up"></i>
                                            <%= touch.outbound %>
                                        <% } else { %>
                                            <i class="fa fa-arrow-down"></i>
                                            <%= touch.inbound %>
                                        <% } %>
                                        <br>
                                        <% if (touch.createdBy != null) { %>
                                            <small class="text-navy">Created by: <%= touch.createdBy.username %></small>
                                        <% } else { %>
                                            <small class="text-navy">
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs"><strong>Message</strong></p>

                                        <p><%= touch.body %></p>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
	            </div>

	            <div id="tab-2" class="tab-pane active">
	                <div id="email-content">
                        <!-- Start #email-content -->
                        <div class="email-wrapper">
                            <!-- Start .email-wrapper -->
                            <div class="email-write">
                                <!-- Start .email-write -->
                                <form action="/touch/sendEmail" id="emailForm" role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" id="to" name="toEmail" placeholder="To">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                        	<select name='fromEmail'>
									        	<% _.each(users, function(u) { %>
									        		<option value="<%= u.email %>"><%= u.email %></option>
									        	<%	}) %>	   	
								            </select>
                                            <!-- <input type="text" class="form-control" id="from" name="fromEmail" placeholder="<%= user.email %>"> -->
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <textarea name="body" id="email-text" class="form-control tinymce" rows="21" form="emailForm"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <input type="hidden" class="form-control" id="to" name="toName" value="test">
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <div class="pull-left">
                                                <input type="submit" class="btn btn-lrg btn-primary btn-block" value="Send">
                                            </div>
                                            <!-- <div class="pull-right">
                                                <div class="btn-group dropup">
                                                    <a href="#" class="mr10 tip color-dark" title="Discard draft"><i class="im-remove s20"></i></a>
                                                    <a href="#" class="tip color-dark" title="More options" data-toggle="dropdown"><i class="im-cog2 s20"></i></a>
                                                    <ul class="dropdown-menu right">
                                                        <li><a href="#">Canned response</a>
                                                        </li>
                                                        <li><a href="#">Archive message</a>
                                                        </li>
                                                        <li><a href="#">Save as draft</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- End .form-group  -->
                                </form>
                            </div>
                            <!-- End .email-write -->
                        </div>
                        <!-- End .email-wrapper -->
                    </div>

	            </div>
	        </div>

	    </div>

	</div>
</div>