<div class= "container" style="width: 80%;">

<form action = "/user/addNutshellCredentials/<%= user.id %>" method = "GET" class= "form-signin">
    <h2 class= "form-signin-heading">Update Information...</h2>

        <input type= "text" class = "form-control" placeholder = "<%= user.username %>" value="<%= user.username %>" disabled>
        <hr>
        <input type= "text" class = "form-control" placeholder = "<%= user.email %>" value="<%= user.email %>" disabled>
        <hr>
        <input type= "text" class = "form-control" placeholder = "<%= user.wizardInfo.company %>" value="<%= user.wizardInfo.company %>" disabled>
        <hr>
        <% if (isSuperUser) { %>
            <select name='role'>
              <option value="user">User</option>
              <option value="concierge">Concierge</option>
              <option value="super_user">Super User</option>
            </select>
            <hr> 
        <% } 
           else { %>

        <% } %>
        <a href="/user/integrateNutshell/<%= user.id %>" class="btn btn-med btn-primary btn-block">Integrate Nutshell</a>
        <% if (user.lastSyncedOn != undefined) { %>
          <h5 style="float: right;">Last synced on: <%= user.lastSyncedOn %></h5>
        <% } 
           else { %>
           <h5 style="float: right;">You have not synced a nutshell account yet.</h5>
        <% } %>
        <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "Update Profile" />
        <input type= "hidden"  name = "_csrf" value = "<%= _csrf %>"/>

</form>

</div>