<div class= "container" style="width: 80%;">

<form action = "/user/update/<%= user.id %>" method = "GET" class= "form-signin">
    <h2 class= "form-signin-heading">Update Information...</h2>

        <input type= "text" class = "form-control" placeholder = "<%= user.username %>" value="<%= user.username %>" disabled>
        <hr>
        <input type= "text" class = "form-control" placeholder = "<%= user.email %>" value="<%= user.email %>" disabled>
        <hr>
        <% if (user.company != null) { %>
          <input type= "text" class = "form-control" placeholder = "<%= user.company.name %>" disabled>
        <% } 
           else { %>
            <input type= "text" class = "form-control" placeholder = "No Company Set" disabled>
        <% } %>
        <hr>
        <% if (user.zendeskId != null) { %>
          <input type= "text" class = "form-control" placeholder = "<%= user.zendeskId %>" name="zendeskId">
        <% } 
           else { %>
            <input type= "text" class = "form-control" placeholder = "Add Zendesk id" name="zendeskId">
        <% } %>
        <hr>
        <% if (isSuperUser) { %>
            <select name='role'>
              <% if (user.role == 'user') { %>
                  <option value="user" selected>User</option>
              <% } 
                 else { %>
                  <option value="user">User</option>
              <% } %>
              <% if (user.role == 'concierge') { %>
                  <option value="concierge" selected>Concierge</option>
              <% } 
                 else { %>
                  <option value="concierge">Concierge</option>
              <% } %>
              <% if (user.role == 'superUser') { %>
                  <option value="superUser" selected>Super User</option>
              <% } 
                 else { %>
                  <option value="superUser">Super User</option>
              <% } %>
            </select>
            <hr>
            <select name='company'>
                <option value="null">Select a Company to add <%= user.username %></option>
              <% _.each(companies, function(company) { %>
                <% if (user.company != null) { %>
                  <% if (user.company.id == company.id) { %>
                    <option value="<%= company.id %>" selected><%= company.name %></option>
                  <% } 
                     else { %> <option value="<%= company.id %>"><%= company.name %></option> <% } 
                  %>
               <% } 
                  else { %> <option value="<%= company.id %>"><%= company.name %></option>} <% } %>
              <%  }) %>
            </select>
              <hr>  
          <% } 

           else { } %>
        
        <a href="/user/integrateNutshell/<%= user.id %>" class="btn btn-med btn-primary btn-block">Integrate Nutshell</a>
        <% if (user.integrations != undefined) { %>
          <h5 style="float: right;">Last synced on: <%= user.integrations.nutshell.lastSyncedOn.date %></h5>
        <% } 
           else { %>
           <h5 style="float: right;">You have not synced a nutshell account yet.</h5>
        <% } %>
        <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "Update Profile" />
        <input type= "hidden"  name = "_csrf" value = "<%= _csrf %>"/>

</form>

</div>