            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Profile</h2>
                    
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="panel blank-panel">

                        <div class="panel-heading">
                            <!-- <div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div> -->
                            <div class="panel-options">

                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Main</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Account Settings</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Employee Settings</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile</h5>
                        </div>
                        <div>
                            <div class="ibox-content profile-content">
                                <form action = "/user/update/<%= user.id %>" method = "GET" class= "form-signin">

                                        <input type= "text" class = "form-control" placeholder = "<%= user.username %>" value="<%= user.username %>" >
                                        <hr>
                                        <input type= "text" class = "form-control" placeholder = "<%= user.email %>" value="<%= user.email %>" >
                                        <hr>
                                        <% if (user.company != null) { %>
                                          <input type= "text" class = "form-control" placeholder = "<%= user.company.name %>" disabled>
                                        <% } 
                                           else { %>
                                            <input type= "text" class = "form-control" placeholder = "No Company Set" disabled
                                        <% } %>
                                        <hr>
                                        <input type= "text" class = "form-control" placeholder = "<%= user.role %>" disabled>
                                        <hr>
                                        <a href="/user/integrateNutshell/<%= user.id %>" class="btn btn-med btn-primary btn-block">Integrate Nutshell</a>
                                        <% if (user.integrations != undefined) { %>
                                          <h5 style="float: right;">Last synced on: <%= user.integrations.nutshell.lastSyncedOn.date %></h5>
                                        <% } 
                                           else { %>
                                           <h5 style="float: right;">You have not synced a nutshell account yet.</h5>
                                        <% } %>
                                        <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "Update Profile" />
                                        <input type= "hidden"  name = "_csrf" value = "<%= _csrf %>"/>

                                </form>
                                
                            </div>
                    </div>
                </div>
                    </div>

                <div class="col-md-8">
                    <%- partial ('../partials/taskList.ejs') %>
                    <!-- <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Tasks</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="ibox-content">
                                <ul class="todo-list m-t">
                                    <% _.each(tasks, function(task) { %>
                                    <li>
                                        <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                        <span class="m-l-xs"><%= task.description %><br>  Due: <%= task.endDate %></span>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div> -->

                </div>
                                </div>

                                <div id="tab-2" class="tab-pane">

                                    <strong>Coming Soon...</strong>

                                </div>

                                <div id="tab-3" class="tab-pane">

                                    <strong>Coming Soon...</strong>

                                </div>                                
                            </div>

                        </div>

                    </div>

            </div>
        </div>