           <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Job detail</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/job/index/">Jobs</a>
                        </li>
                        <li class="active">
                            <strong><%= job.name %></strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <h2><%= job.name %></h2>
                                    </div>
                                    <dl class="dl-horizontal" id="status">
                                        <dt>Status:</dt> <dd><span class="label label-primary" id="statusText"><%= job.status %></span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Created by:</dt> <dd> <%= job.owner.username %></dd>
                                        <dt>Messages:</dt> <dd> <%= job.touches.length %></dd>
                                        <% if (job.client != null) { %>
                                            <dt>Client:</dt> <dd><a href="/contact/show/<%= job.client.id %>" class="text-navy"> <%= job.client.name %> </a> </dd>
                                        <% } else { %>
                                            <dt>Client:</dt> <dd><a href="" class="text-navy"> No Client </a> </dd>
                                        <% } %>
                                        <dt>Address:</dt> <dd>  <%= job.address %> </dd>
                                    </dl>
                                </div>
                                <div class="col-lg-7" id="cluster_info">
                                    <dl class="dl-horizontal" >

                                        <dt>Last Updated:</dt> <dd><%= job.updatedAt %></dd>
                                        <dt>Created:</dt> <dd><%= job.createdAt %></dd>
                                        <dt>Participants:</dt>
                                        <dd class="project-people">
                                        <% if (job.recipients.length != 0) { %>
                                            <% _.each(job.recipients, function(contact) { %>
                                                <h4> <%= contact.name %> </h4>
                                                <br>
                                            <% }) %>
                                        <% } else { %>
                                            <h4>No recipients</h4>
                                        <% } %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>Completed:</dt>
                                        <dd>
                                            <div class="progress progress-striped active m-b-sm">
                                                <div style="width: 60%;" class="progress-bar"></div>
                                            </div>
                                            <small>Project completed in <strong>60%</strong>. BUILD OUT TASKS AND MILESTONES FOR THIS</small>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Users messages</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab">Documents</a></li>
                                            <li class=""><a href="#tab-3" data-toggle="tab">Transactions</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <!-- RECIPIENT COMMUNICATIONS GO HERE -->
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>Communication History</h5>
                                                    <div class="ibox-tools">
                                                        <span class="label label-warning-light"><%= job.touches.length %> Messages</span>
                                                       </div>
                                                </div>
                                                <div class="ibox-content">

                                                    <div>
                                                        <div class="feed-activity-list">

                                                            <% if (job.touches.length != 0) { %>
                                                                <% _.each(job.touches, function(touch) { %>
                                                                    <div class="feed-element">
                                                                        <% if (touch.createdBy != null) { %>
                                                                            <img alt="image" class="img-circle" src="/images/default-avatar.png">
                                                                            <div class="media-body">
                                                                                <strong><%= touch.createdBy %></strong><br>
                                                                        <% } else { %>
                                                                            <img alt="image" class="img-circle" src="/images/default-avatar.png">
                                                                            <div class="media-body">
                                                                                <strong><%= touch.createdBy %></strong><br>
                                                                        <% } %>
                                                                            <small class="text-muted"><%= touch.createdAt %></small>
                                                                            <div class="well">
                                                                                <%= touch.body %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                <% }) %>
                                                            <% } else { }%>
                                                            <div class="feed-element">
                                                                <a href="#" class="pull-left">
                                                                    <img alt="image" class="img-circle" src="/images/default-avatar.png">
                                                                </a>
                                                                <div class="media-body">
                                                                    <strong>
                                                                        <select id="touchRecipient" class="col-xs-11 chosen-select" tabindex="2">
                                                                            <option value="">Select</option>
                                                                            <% _.each(job.recipients, function(contact) { %>
                                                                                <option value="<%= contact.phoneNumbers.phoneNumber1 %>" name="<%= contact.emails.email1 %>"><%= contact.name %></option>
                                                                            <% }) %>
                                                                        </select>
                                                                    </strong><br><br>
                                                                    
                                                                    <textarea id="touchBody" class="col-xs-11 form-control tinymce" rows="12" maxlength="160" placeholder="Add text..."></textarea>

                                                                </div>
                                                            </div>
                                                            <br>
                                                            
                                                        </div>
                                                        <br><br><br>
                                                        <button class="btn btn-primary" id="sendSMS" name="<%= job.id %>" style="width: 48%;"><i class="fa fa-mobile"></i> Send Text</button>
                                                        <button class="btn btn-primary" id="sendEmail" name="<%= job.id %>" style="float:right; width: 48%;"><i class="fa fa-file-o"></i> Send Email</button>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-2">

                                            <% if (job.documents != null) { %>
                                                <% for (var i = 0; i < job.documents.length; i++) { %>
                                                    <a href="<%= job.documents[i] %>" download> Document <%= i + 1 %>     </a><br>
                                                <% } %>
                                            <% } %>

                                            <br><br>

                                            <form action="/job/documentUpload?id=<%= job.id %>" enctype="multipart/form-data" method="post">
                                                <input type="file" name="document[]" multiple><br>
                                                <input type= "submit" class = "btn btn-lg btn-primary btn-block" value = "Upload File(s)" />
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab-3">

                                            <h2>TRANSACTIONS SOON TO COME</h2>

                                        </div>
                                    </div>

                                </div>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="wrapper wrapper-content project-manager">
                    <h4>Job description</h4>
                    <p class="small">
                        <%= job.description %>
                    </p>
                    <p class="small font-bold">
                        <span><i class="fa fa-circle text-warning"></i> High priority</span>
                    </p>
                    <h5>Job Recipients </h5>
                    <% if (job.recipients.length != 0) { %>
                        <% _.each(job.recipients, function(contact) { %>

                            <div class="contact-box">                                    
                                <div class="col-sm-8">
                                    <h3><strong><%= contact.name %></strong></h3>
                                    <h4><%= contact.emails.email1 %></h4>
                                    <address>
                                        <%= contact.addresses.address1 %> <br>
                                        <abbr title="Phone">P:</abbr> <%= contact.phoneNumbers.phoneNumber1 %>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <br>
                        <% }) %>
                    <% } else { %>
                        <div class="contact-box">                                    
                                <div class="col-sm-8">
                                    <h3><strong>No Recipients</strong></h3>
                                    <h4></h4>
                                    <address>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal inmodal fade" id="statusModal" tabindex="-1" role="dialog"  aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title">Change Status</h4>
                          </div> 
                          <div class="modal-body">
                            <a class="btn btn-primary btn-block statusOption" name="open"> Open</a>
                            <a class="btn btn-primary btn-block statusOption" name="won"> Won</a>
                            <a class="btn btn-primary btn-block statusOption" name="lost"> Lost</a>
                            <a class="btn btn-primary btn-block statusOption" name="canceled"> Canceled</a>
                            <a class="btn btn-primary btn-block statusOption" name="deleted"> Deleted</a>
                            <a class="btn btn-primary btn-block statusOption" name="pending"> Pending</a>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

                          </div>
                      </div>
                  </div>
                </div>
        <!-- <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div> -->
<script>
    var fromEmail = "<%= currentUser.email %>";
    var userRole = "<%= currentUser.role %>";
    var jobName = "<%= job.name %>";
    var jobId = "<%= job.id %>";
</script>