            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><%=company.name %> Profile</h2>
                    
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row animated fadeInRight">
                    <div class="panel blank-panel">

                        <div class="panel-heading">
                            <!-- <div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div> -->
                            <div class="panel-options">

                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Profile</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Company Settings</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Employees</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Account Settings</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="col-md-4">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Profile Detail</h5>
                                            </div>
                                            <div>
                                                <div class="ibox-content no-padding border-left-right">
                                                    <img alt="image" class="img-responsive" src="/img/profile_big.jpg">
                                                </div>
                                                <div class="ibox-content profile-content">
                                                    <h4><strong>Monica Smith</strong></h4>
                                                    <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                                    <h5>
                                                        About me
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                                    </p>
                                                    <div class="row m-t-lg">
                                                        <div class="col-md-4">
                                                            <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                                            <h5><strong>169</strong> Posts</h5>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                                            <h5><strong>28</strong> Following</h5>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                                            <h5><strong>240</strong> Followers</h5>
                                                        </div>
                                                    </div>
                                                    <div class="user-button">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Activites</h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li><a href="#">Config option 1</a>
                                                        </li>
                                                        <li><a href="#">Config option 2</a>
                                                        </li>
                                                    </ul>
                                                    <a class="close-link">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content">

                                                <div>
                                                    <div class="feed-activity-list">

                                                        <div class="feed-element">
                                                            <a href="#" class="pull-left">
                                                                <img alt="image" class="img-circle" src="/img/a1.jpg">
                                                            </a>
                                                            <div class="media-body ">
                                                                <small class="pull-right text-navy">1m ago</small>
                                                                <strong>Sandra Momot</strong> started following <strong>Monica Smith</strong>. <br>
                                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                                                <div class="actions">
                                                                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                                                    <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="feed-element">
                                                            <a href="#" class="pull-left">
                                                                <img alt="image" class="img-circle" src="/img/profile.jpg">
                                                            </a>
                                                            <div class="media-body ">
                                                                <small class="pull-right">5m ago</small>
                                                                <strong>Monica Smith</strong> posted a new blog. <br>
                                                                <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                                                            </div>
                                                        </div>

                                                    </div>

                                                    <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="tab-2" class="tab-pane">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content">
                                                <form method="get" class="form-horizontal">
                                                    <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                                                        <div class="col-lg-10"><p class="form-control-static"><%= company.name%></p></div>
                                                    </div>
                                                    <div class="form-group"><label class="col-lg-2 control-label">Owner</label>
                                                        <div class="col-lg-10"><p class="form-control-static"><%= company.owner.username%></p></div>
                                                    </div>
                                                    <div class="form-group"><label class="col-lg-2 control-label">Industry</label>
                                                        <div class="col-lg-10"><p class="form-control-static"><%= company.primaryIndustry %></p></div>
                                                    </div>                                                                
                                                    <div class="form-group"><label class="col-sm-2 control-label">Skills</label>

                                                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group"><label class="col-sm-2 control-label">Help text</label>
                                                        <div class="col-sm-10"><input type="text" class="form-control"> <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <button class="btn btn-white" type="submit">Cancel</button>
                                                            <button class="btn btn-primary" type="submit">Save changes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>

                                <div id="tab-3" class="tab-pane">
                                    <a data-toggle="modal" class="btn btn-primary fa fa-plus-square-o" href="#modal-form">&nbsp;Add New...</a>
                                    <table class = "table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th></th>
                                            <!-- <th></th> -->
                                            <!-- <th></th> -->
                                        </tr>

                                        <% _.each(company.employees, function(employee){ %>
                                        <tr data-id = "<% employee.id %>" data-model = "user">
                                            <td><%= employee.username %></td>
                                            <td><%= employee.email %></td>
                                            <td><a href= "/user/dashboard/<%= employee.id %>" class= "btn btn-sm btn-primary" >Show</a> </td>

                                            <!-- <td><a href= "user/edit/<%= user.id %>" class= "btn btn-sm btn-warning" >Edit</a> </td> -->
                                       <!--  <td><form action= "user/destroy/<%= user.id %>"  method = 'POST'>
                                            <input type= "hidden" name = "_method" value = "delete" />
                                            <input type= "submit" class= "btn btn-sm btn-danger" value = "Delete" />
                                            <input type= "hidden" name = "_csrf" value = "<%= _csrf %>" />
                                        </form> </td> -->
                                        </tr>
                                    
                                        <% }) %>
                                    </table>      
                                <div id="modal-form" class="modal fade in" aria-hidden="false" style="display: none;">
                                    <div class="modal-backdrop fade in"></div>
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                </div>                                        
                                            <div class="modal-body">
                                                <div class="row">
                                                  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Add Employee</h3>
                                                        <form action= "/user/create" role="form" method = "POST">
                                                            <div class="form-group"><label>Name</label> 
                                                                <input type="text" name = "username" placeholder="Name" class="form-control"></div>
                                                            <div class="form-group"><label>Email</label> 
                                                                <input type="email" name = "email" placeholder="Email" class="form-control"></div>
                                                            <div class="form-group"><label>Password</label> 
                                                                <input type="password" name = "password" placeholder="tempPassword" class="form-control"></div>
                                                            <div>
                                                                <div class="form-group"><label>Role</label> 
                                                                    <select class="form-control m-b" name="companySettings[role]">
                                                                        <option value = "admin">admin</option>
                                                                        <option value = "manager">manager</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group"><label>Type</label> 
                                                                    <select class="form-control m-b" name="companySettings[type]">
                                                                        <option value = "w2">W2</option>
                                                                        <option value = "1099">1099</option>
                                                                        <option value = "other">Other</option>
                                                                    </select>
                                                                </div> 
                                                                <input type="hidden" name="reroute" value="dashboard">
                                                                <input type = "hidden" name = "company" value = "<%= company.id%>">                                                          
                                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                                                    <strong>Create</strong>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-sm-6"><h4>Creating new employees</h4>
                                                        <p>You are creating a user account for your new employee.  An email address can only be associated with one Company at a time, so if the user is already on Hourwise you might have problems.  If not, please have them sign in and change their password once the account is set up. </p>

                                                        <p class="text-center">
                                                            <a href=""><i class="fa fa-user big-icon"></i></a>
                                                        </p>
                                                        <p> If you have any problems, please contact support@hourwise.com </p>
                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            </div>    
                                        </div>
                                    </div>
                                </div>                              

                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <form method="get" class="form-horizontal">
                                                <div class="form-group"><label class="col-lg-2 control-label">Subscription Type</label>
                                                    <div class="col-lg-10"><p class="form-control-static"><%= company.accountSettings.subscriptionType%></p></div>
                                                </div>
                                                <div class="form-group"><label class="col-lg-2 control-label">Subscriptions Amount</label>
                                                    <div class="col-lg-10"><p class="form-control-static"><%= company.accountSettings.subscriptionAmt%></p></div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-sm-offset-2">
                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>