            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><%=company.name %> Profile</h2>
                    
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row animated fadeInRight">
                    <div class="panel blank-panel">

                        <div class="panel-heading">
                            <!-- <div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div> -->
                            <div class="panel-options">

                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Stats</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Company Settings</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Employees</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Account Settings</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="col-md-10">
                                        <h3>Minutes used/max - <%= totalMinutesMonth %>/<%= company.minutesMax %></h3>
                                        <br>
                                        <h3>Tickets</h3>
                                        <div class="wrapper wrapper-content animated fadeInUp">
                                        <table class="table table-hover">
                                            <th>Subject</th>
                                            <th>Requester</th>
                                            <th>Request Date</th>
                                            <th>Ticket Type</th>
                                            <th>Status</th>
                                            <th>Link</th>
                                            <% _.each(tickets, function(ticket) { %>
                                                <tr>
                                                    <td><%= ticket.zendesk.subject %></td>
                                                    <td><%= ticket.requester.username %></td>
                                                    <td><%= ticket.zendesk.created_at %></td>
                                                    <td><%= ticket.zendesk.via.channel %></td>
                                                    <td><%= ticket.zendesk.status %></td>
                                                    <td><a href="https://foundation53.zendesk.com/agent/tickets/<%= ticket.id %>">Go to ticket</a></td>
                                                </tr>
                                            <% }) %>
                                         </table>
                                       </div>
                                    </div> 
                                    
                                </div>

                                <div id="tab-2" class="tab-pane">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content">
                                                <form class="form-horizontal">
                                                    <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                                                        <div class="col-lg-10"><p class="form-control-static"><%= company.name%></p></div>
                                                    </div>
                                                    <div class="form-group"><label class="col-lg-2 control-label">Owner</label>
                                                        <div class="col-lg-10"><p class="form-control-static"><%= company.owner.username%></p></div>
                                                    </div>
                                                    <div class="form-group"><label class="col-lg-2 control-label">Industry</label>
                                                        <div class="col-lg-10"><p class="form-control-static"><%= company.primaryIndustry %></p></div>
                                                    </div>                                                                
                                                    <div class="form-group"><label class="col-sm-2 control-label">Skills</label>

                                                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group"><label class="col-sm-2 control-label">Minutes Paid for</label>
                                                        <div class="col-sm-10"><input type="text" class="form-control" id="minutesPaidFor"> <span class="help-block m-b-none">Amount of minutes paid for by company.</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"><label class="col-sm-2 control-label">Maximum Minutes allowed</label>
                                                        <div class="col-sm-10"><input type="text" class="form-control" id="maxMinutesAllowed"> <span class="help-block m-b-none">Maximum amount of minutes the company is willing to pay for.</span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" class="form-control1" id="id" value="<%= company.id %>">
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <button class="btn btn-white" type="">Cancel</button>
                                                            <button class="btn btn-primary" type="" id="saveChanges">Save changes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>

                                <div id="tab-3" class="tab-pane">
                                    <a data-toggle="modal" class="btn btn-primary fa fa-plus-square-o" href="#modal-form">&nbsp;Add New...</a>
                                    <table class = "table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th></th>
                                            <!-- <th></th> -->
                                            <!-- <th></th> -->
                                        </tr>

                                        <% _.each(company.employees, function(employee){ %>
                                        <tr data-id = "<% user.id %>" data-model = "user">
                                            <td><%= employee.username %></td>
                                            <td><%= employee.email %></td>
                                            <td><a href= "/user/accountSettings/<%= employee.id %>" class= "btn btn-sm btn-primary" >Show</a> </td>

                                            <!-- <td><a href= "user/edit/<%= user.id %>" class= "btn btn-sm btn-warning" >Edit</a> </td> -->
                                       <!--  <td><form action= "user/destroy/<%= user.id %>"  method = 'POST'>
                                            <input type= "hidden" name = "_method" value = "delete" />
                                            <input type= "submit" class= "btn btn-sm btn-danger" value = "Delete" />
                                            <input type= "hidden" name = "_csrf" value = "<%= _csrf %>" />
                                        </form> </td> -->
                                        </tr>
                                    
                                        <% }) %>
                                    </table>      
                                <div id="modal-form" class="modal fade in" aria-hidden="false" style="display: none;">
                                    <div class="modal-backdrop fade in"></div>
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                </div>                                        
                                            <div class="modal-body">
                                                <div class="row">
                                                  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Add Employee</h3>
                                                        <form action= "/user/create" role="form" method = "POST">
                                                            <div class="form-group"><label>Name</label> 
                                                                <input type="text" name = "username" placeholder="Name" class="form-control"></div>
                                                            <div class="form-group"><label>Email</label> 
                                                                <input type="email" name = "email" placeholder="Email" class="form-control"></div>
                                                            <div class="form-group"><label>Password</label> 
                                                                <input type="password" name = "password" placeholder="tempPassword" class="form-control"></div>
                                                            <div>
                                                                <div class="form-group"><label>Role</label> 
                                                                    <select class="form-control m-b" name="companySettings[role]">
                                                                        <option value = "admin">admin</option>
                                                                        <option value = "manager">manager</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group"><label>Type</label> 
                                                                    <select class="form-control m-b" name="companySettings[type]">
                                                                        <option value = "w2">W2</option>
                                                                        <option value = "1099">1099</option>
                                                                        <option value = "other">Other</option>
                                                                    </select>
                                                                </div> 
                                                                <input type = "hidden" name = "company" value = "<%= company.id%>">                                                          
                                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                                                    <strong>Create</strong>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-sm-6"><h4>Creating new employees</h4>
                                                        <p>You are creating a user account for your new employee.  An email address can only be associated with one Company at a time, so if the user is already on Hourwise you might have problems.  If not, please have them sign in and change their password once the account is set up. </p>

                                                        <p class="text-center">
                                                            <a href=""><i class="fa fa-user big-icon"></i></a>
                                                        </p>
                                                        <p> If you have any problems, please contact support@hourwise.com </p>
                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            </div>    
                                        </div>
                                    </div>
                                </div>                              

                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <form method="get" class="form-horizontal">
                                                <div class="form-group"><label class="col-lg-2 control-label">Minutes Type</label>
                                                    <div class="col-lg-10"><p class="form-control-static"><%= company.accountSettings.subscriptionType%></p></div>
                                                </div>
                                                <div class="form-group"><label class="col-lg-2 control-label">Minutes Amount</label>
                                                    <div class="col-lg-10"><p class="form-control-static"><%= company.accountSettings.subscriptionAmt%></p></div>
                                                </div>
                                                <div class="form-group"><label class="col-lg-2 control-label">Minutes Used/Max</label>
                                                    <div class="col-lg-10"><p class="form-control-static">Need to find an accurate way of calculating this...</p></div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-sm-offset-2">
                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>